.category {
    height: 100px;
    background-color: #AF2F2F;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.category ul {
    display: flex;
    list-style: none;
    gap: 15px;
    padding: 5px;
}

.category h2 {
    padding: 10px;
}

.category ul li a {
    text-decoration: none;
    background-color: #716B6B;
    padding: 5px;
    border-radius: 7px;
    color: white;
    box-shadow: 0 1px rgba(0, 0, 0, 25); 
}

.category ul li a:hover {
    background-color: black;
    transition: 0.3s;
}