.products{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

.destaque {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    
    
}

.destaque .cards {
    width: 336px;
    height: 474px;
    border-radius: 7px;
    border: 1px solid #AF2F2F;
    display: flex;
    
}

.destaque div img {
    max-width: 90%;
    height: auto;
    display: block;
    border-radius: 7px;
}

.cards {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    gap: 10px;
}

.descricao a {
    text-decoration: none;
    background-color: #AF2F2F;
    padding: 10px;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    color: white;
    
}

.descricao a:hover {
    background-color: black;
    transition: 0.3s;
}