@import url(header.css);
@import url(banner.css);
@import url(category.css);
@import url(destaque.css);
@import url(newslatter.css);
@import url(declaration.css);
@import url(contact.css);
@import url(footer.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inconsolata", monospace;
    width: 1240px;
    display: inline;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: "Instrument Serif", serif;
    color: white;
    font-weight: 300;
}